{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
    <h1>Editar Proveedor</h1>

    {{ include('proveedor/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('proveedor_index') }}">Volver</a>

    {{ include('proveedor/_delete_form.html.twig') }}
{% endblock %}
