{% extends 'base.html.twig' %}

{% block title %}Nuevo - Proveedor{% endblock %}

{% block body %}
 
    <div id="form_proveedor_new_edit">
    {{ include('proveedor/_form.html.twig') }}
    <button id="volver" class="btn" onclick="window.location.href='{{ path('proveedor_index') }}'">Volver</button>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/telefono_validacion.js') }}"></script>
{% endblock %}
