{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
 
    <div id="form_proveedor">
    {{ include('proveedor/_form.html.twig') }}
    <a href="{{ path('proveedor_index') }}" onclick="window.close()">Volver</a>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/telefono_validacion.js') }}"></script>
{% endblock %}
