{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
 
    <div id="form_proveedor">
    {{ include('proveedor/_form.html.twig') }}
    <button id="volver" class="btn" onclick="window.close()">Volver</button>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('/js/telefono_validacion.js') }}"></script>
{% endblock %}
