{% extends 'base.html.twig' %}

{% block title %}}Gestiona JMJ{% endblock %}

{% block body %}
    <h1>Nuevo Proveedor</h1>

    {{ include('proveedor/_form.html.twig') }}

    <a href="{{ path('proveedor_index') }}">Volver</a>
{% endblock %}
