{% extends 'base.html.twig' %}

{% block title %}Editar - Proveedor{% endblock %}

{% block body %}
<div id="form_proveedor">
    {{ include('proveedor/_form.html.twig', {'button_label': 'Actualizar'}) }}
    <button id="volver" class="btn" onclick="window.close()">Volver</button>
    </div>
</div>
{% endblock %}