html {
    min-height:100%;
    position:relative;
}

body {
    background-image: url('/img/fondo.png') !important;
    margin: 0px 10px;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:60px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.icono_informacion {
    float: right;
    margin-top: 5px;
    margin-right:1.5%;
    width:20px;
    height:20px;
}

.text {
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:#71d90b;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.icono_editdelete {
    border:none; 
    text-decoration:none !important;
    width:25px;
    height:25px;
    padding: 0px;
}

.logo_tamaño{
    width: 40px;
}

.btn{
    color: white !important;
    background-color:black !important;
}

.form_linea{
    position: relative;
    float:left;
    left: 25%;
    margin-bottom: 5%;
}

.form_pedido{
    position: relative;
    float:right;
    right: 25%;
    margin-bottom: 5%;
}



footer {
    background-color: #33b5e5;
    width:40%;
    height:20%;
    padding-top:5px;
    margin-left: auto;
    margin-right: auto;
}


/*Hover Filas*/
.hover_fila:hover{
    background-color: rgba(255, 242, 143, 0.5);
}

/* EDIT FORMULARIO */
#articulo_descripcion{
    resize: none;
}

#form_articulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_proveedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_articulo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#form_proveedor div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#form_usuario div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}
#form_usuario #usuario_roles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#botones_editar {
    display: flex !important;
    flex-direction: row !important;
}
#botones_editar button {
    margin: 0.1em;
}

/*Navbar Usuario*/
.link_usuario, .link_usuario:visited{
    color:black;
    text-decoration: none;
}

.link_usuario:hover{
    color: rgba(255, 242, 143);
    text-decoration: none;
}

.icono {
    height:20px;
    width: 24px;
    margin-right: 2px;
}
.salir{
    margin-left:6px;
    width:15px;
    height:20px;
}

.img_usuario{
    width:100px;
    height: 100px;
}

#show_panel_tabla{
    width: auto !important;
}
