body {
    background-image: url('/img/fondo.png') !important;
    margin: 0px 10px;
}

.logo_tamaño{
    width: 40px;
}

.btn{
    color: white;
    background-color:black;
}

.form_linea{
    position: relative;
    float:left;
    left: 25%;
}

.form_pedido{
    position: relative;
    float:right;
    right: 25%;
}
