* {
	box-sizing: border-box;
}

html {
	height: 100vh;
	/*background: url('restaurante1.png') no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	height: 100%;
}

/*** HEADER ***/

header{
	height: 13vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(109, 107, 88, 0.7);
	
}
header #logo{
	width:75px;
	height:75px;
}
header div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
header div a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2rem;
	margin:15px;
	color: rgba(0,0,0);
}
header div a:hover{
	color:#fff28f;
}

header div a img{
	width: 35px;
	height: 35px;
}

#margenNav {
	margin-right:0;
}

/*** MAIN ***/

.caja_main{
    background-color: rgba(109, 107, 88, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    margin:auto;
    margin-top: 2rem;
}

.img_main {
	display: none
}

main .caja_main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .caja_main div input[type=submit]{
    margin-top:1rem;
}

/*** FOOTER ***/
