html {
    min-height:100%;
    position:relative;
}

body {
    background-image: url('/img/fondo.png') !important;
    margin: 0px 10px;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:60px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.icono_informacion {
    float: right;
    margin-top: 5px !important;
    margin-right:1.5% !important;
    width:20px !important;
    height:20px !important;
}

.text {
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:#71d90b;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.icono_editdelete {
    border:none; 
    text-decoration:none !important;
    width:25px !important;
    height:25px !important;
    padding: 0px !important;
}

.add_icon {
    border:none; 
    text-decoration:none !important;
    width:25px !important;
    height:25px !important;
    padding: 0px !important;
    margin-left:25px !important;
}

.logo_tamaño{
    width: 40px !important;
}

.btn{
    color: white !important;
    background-color:black !important;
}



/* Formularios */
.form_linea{
    position: relative;
    float:left;
    left: 25%;
    margin-bottom: 5%;
}

.form_pedido{
    position: relative;
    float:right;
    right: 25%;
    margin-bottom: 5%;
}

.form_pedido {
    margin-top: 5%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9)
}

#form_articulo form {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9);
}

#form_proveedor form {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9);
}

#form_linea form {
    width: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9);
}

#form_pedido form {
    width: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9);
}

#form_usuario form {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9);
}

form #form_register {
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9);
}

.form_linea {
    margin-top: 5%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237,0.9);
}
.form_linea h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_linea button {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.form_pedido h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_pedido button {
   margin-left: auto !important;
   margin-right: auto !important;
   display: block !important;
}

/*Hover Filas*/
.hover_fila:hover{
    background-color: rgba(255, 242, 143, 0.5);
}

/* EDIT FORMULARIO */
#articulo_descripcion{
    resize: none;
}

#form_articulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_proveedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_articulo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#form_proveedor div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#form_usuario div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}
#form_usuario #usuario_roles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#botones_editar {
    display: flex !important;
    flex-direction: row !important;
}
#botones_editar button {
    margin: 0.1em;
}
.celda_edit, .celda_delete{
    width: 1% !important;
}
#pedido_aviso{
    font-size: 12px;
}
/*Navbar Usuario*/
.link_usuario, .link_usuario:visited{
    color:black;
    text-decoration: none;
}

.link_usuario:hover{
    color: rgba(255, 242, 143);
    text-decoration: none;
}

.icono {
    height:20px !important;
    width: 24px !important;
    margin-right: 2px;
}
.salir{
    margin-left:6px;
    width:15px;
    height:20px;
}

#show_panel_tabla{
    width: auto !important;
}

#login{
    margin-left:35%;
    margin-top: 2%;
    width: 30% !important;
}

#login_icono{
    float: right !important;
    margin-top: 1.5%;
}