/*Estilo HTML*/

html {
    min-height: 100%;
    position: relative;
}

/*Estilo Body*/

body {
    background-image: url('/img/fondo.png') !important;
    margin: 0px 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 60px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Iconos CRUD*/

.icono_editdelete {
    border: none;
    text-decoration: none !important;
    width: 25px !important;
    height: 25px !important;
    padding: 0px !important;
}

.add_icono {
    border: none;
    text-decoration: none !important;
    width: 25px !important;
    height: 25px !important;
    padding: 0px !important;
    margin-left: 25px !important;
}

/*LOGO*/

.logo_tamaño {
    width: 40px !important;
}

/*Estilo Botones*/

.btn {
    color: white !important;
    background-color: black !important;
}

/* FORMULARIO NUEVA LINEA DE PEDIDO INDEX PEDIDO */

.nuevo_form_linea {
    position: relative;
    float: left;
    left: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237, 0.9);
}

.nuevo_form_linea h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuevo_form_linea button {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

/* FORMULARIO NUEVO PEDIDO INDEX PEDIDO */

.nuevo_form_pedido {
    position: relative;
    float: right;
    right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237, 0.9);
}

.nuevo_form_pedido h6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuevo_form_pedido button {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

/*DIV AVISO SCRIPT PEDIDO*/

#pedido_aviso {
    font-size: 12px;
}

/*FORMULARIOS ARTICULO PROVEEDOR USUARIO NEW/EDIT*/

#form_articulo_new_edit, #form_proveedor_new_edit, #form_usuario_edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_articulo_new_edit form, #form_proveedor_new_edit form, #form_usuario_edit form {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237, 0.9);
}

#form_articulo_new_edit div, #form_proveedor_new_edit div, #form_usuario_edit div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

/*TEXT AREA ARTICULO*/

#articulo_descripcion {
    resize: none;
}

/*FORMULARIOS USUARIO NEW/EDIT*/

#form_usuario_edit #usuario_roles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#usuario_password_editar {
    display: flex;
    flex-direction: row !important;
    font-size: 11px;
}

/*HOVER TABLAS*/

.hover_fila:hover {
    background-color: rgba(255, 242, 143, 0.5);
}

/*CELDAS EDIT/DELETE TABLAS*/

.celda_edit,
.celda_delete {
    width: 1% !important;
}

/*CELDAS Articulo*/

.celda_articulo_precio,
.celda_articulo_existencias {
    text-align: center;
}

.celda_articulo_nombre {
    width: 14% !important;
}

/*Navbar Usuario*/

.link_usuario,
.link_usuario:visited {
    color: black;
    text-decoration: none;
}

.link_usuario:hover {
    color: rgba(255, 242, 143);
    text-decoration: none;
}

.icono {
    height: 20px !important;
    width: 24px !important;
    margin-right: 2px;
}

.salir {
    margin-left: 6px;
    width: 15px;
    height: 20px;
}

#show_panel_tabla {
    width: auto !important;
}

#login {
    margin-left: 35%;
    margin-top: 2%;
    width: 30% !important;
}

#login_icono {
    float: right !important;
    margin-top: 1.5%;
}

/*SHOW USUARIO*/

.mostrar_usuario {
    width: 40%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

.mostrar_usuario #botones_editar {
    margin-top: 20px;
}

/*FORMULARIO REGISTRO*/

#form_registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_registro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#form_registro #usuario_roles {
    flex-direction: row;
}

#usuario_roles label {
    margin: 0em 0.5em;
}

form #form_registro {
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237, 0.9);
}

/*FORMULARIOS EDIT LINEA | PEDIDO*/

#form_pedido_edit, #form_linea_edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

#form_pedido_edit div, #form_linea_edit div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

#form_pedido_edit form, #form_linea_edit form {
    width: 40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: rgba(237, 237, 237, 0.9);
}

/*BOTONES FORMULARIOS*/

#botones_editar {
    display: flex !important;
    flex-direction: row !important;
}

#botones_editar button {
    margin: 0.1em;
}