/* Estilos genéricos */

body {
    font-family: 'Lato', sans-serif;
    background: #fff;
}

body p {
    color: #666666;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    color: #141414;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 800;
    text-transform: uppercase;
}


/* Estilos navbar */

a:hover {
    text-decoration: none;
}

.navbar {
    padding: 10px 0;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
}

#loader-wrapper .logo {
    left: 48.7%;
    position: absolute;
    top: 48%;
}

#loader-wrapper .logo a {
    font-weight: 700;
    color: #3498DB;
    font-size: 12px;
}

.logo span {
    color: #f85654;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: transparent solid 3px;
    border-top-color: #3498db;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: transparent solid 3px;
    border-top-color: #444;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: transparent solid 3px;
    border-top-color: #1487b2;
    animation: spin 1.5s linear infinite;
}


/* Animación de Carga */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Estilos elementos del navbar */

#nav_menu ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul a {
    color: #ffffff;
    display: block;
    font-family: lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    padding: 25px 14px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.4s 0s ease;
}

#nav_menu ul li {
    float: left;
    padding: 0;
    position: relative;
}

#nav_menu ul li #gestion:hover {
    transition: all 0.4s 0s ease;
    background: #fdd05a;
    color: black;
}

#nav_menu ul li a:hover {
    transition: all 0.4s 0s ease;
    background: #0078BF;
}


/* Estilos slider */

#src_sec {
    background-image: url("../img/slide_img.jpg");
    background-position: center center;
    background-size: cover;
    min-height: 500px;
}

#concepto_sec {
    padding: 70px 0;
}

.lft_hd img {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 72px;
}



.title_sec {
    margin: 0 auto;
    padding: 0 0 25px 0;
    text-align: center;
}

.title_sec h2 {
    color: #606060;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.abt {
    margin: 0 auto;
    text-align: center;
}

.progress {
    height: 35px;
    line-height: 35px;
    margin-bottom: 45px;
    background: #F0F0F0;
    border-radius: 0;
    box-shadow: none;
    list-style: none;
}

.progress-bar {
    font-weight: 600;
    line-height: 35px;
    padding-left: 20px;
    text-align: left;
}

.progress-bar1 .progress-bar {
    background: #00AFF0;
}

#noticias_sec {
    padding-top: 100px;
}

#message {
    height: 90px;
}

.wrap_caption {
    padding: 190px 0;
}

.slider {
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#slider_sec {
    background-image: url("../img/slider2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
    width: 100%;
}

.caption_carousel h1 {
    font-family: lato;
    font-size: 60px;
    text-transform: capitalize;
    color: #fff;
}

.caption_carousel p {
    font-family: lato;
    font-size: 14px;
    color: #f6f6f6;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: inline;
    line-height: 35px;
    padding: 8px;
}

.caption_carousel {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.carousel-indicators li {
    background-color: #363636;
    border: none medium;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    text-indent: 0;
    width: 25px;
}

.carousel-indicators .active {
    width: 25px;
    height: 7px;
    background-color: #00AFF0;
}


/* Estilos de la sección Servicios */

#servicio_sec {
    padding: 70px 0;
    padding-top: 10px !important;
}

.service {
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    border: 1px solid #eeeeee;
    cursor: pointer;
    text-align: center;
    padding: 61px 0;
}

.service:hover .service_hoverly {
    display: block;
}

.service>h2 {
    color: #515050;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.service_hoverly h2 {
    color: #515050;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
}

.service i {
    font-size: 50px;
    color: #03B0F0;
    position: relative;
}

.service_hoverly {
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    border: 1px solid #03B0F0;
    display: none;
    padding: 25px 5px;
    position: absolute;
    top: 0;
    background: #fff;
}

.service_hoverly i {
    background: none 0 0 repeat scroll #fff;
    font-size: 50px;
    position: relative;
    top: -50px;
}


/* Estilos de la sección Equipo */

#equipo_sec {
    padding-top: 105px;
    padding-bottom: 105px;
}

.sngl_team h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}

.sngl_team {
    text-align: center;
    width: 100%;
}

.owl-item .sngl_team img {
    margin: 0 auto;
    text-align: center;
    width: 130px;
}

.sngl_team span {
    color: #00aff0;
    font-family: lato;
    font-size: 13px;
    margin-left: 10px;
    text-transform: uppercase;
}

.all_team .owl-controls .owl-prev i {
    color: #3399ff;
    font-size: 30px;
    position: absolute;
    top: 46%;
    left: 0;
}

.all_team .owl-controls .owl-next i {
    position: absolute;
    top: 46%;
    font-size: 30px;
    color: #3399FF;
    right: 0%;
}

.all_team .owl-controls .owl-dot {
    background-color: #363636;
    border: none medium;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    text-indent: 0;
    width: 25px;
    margin-right: 5px;
}

.all_team .owl-controls .owl-dot.active {
    background-color: #03B0F0;
}

.all_team .owl-controls {
    display: inline-block;
    width: 100%;
    text-align: center;
}


/* Estilos de la sección Opinión */

#opinion_sec {
    background-image: url("../img/testimonial_bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 0;
}

.all_tstm {
    display: table;
    width: 100%;
    height: 100%;
}

.sngl_tstm {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.sngl_tstm i {
    font-size: 25px;
    color: #fff;
}

.sngl_tstm h3 {
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sngl_tstm p {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
}

.sngl_tstm h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}

.clnt_tstm {
    width: 780px;
    margin: 0 auto;
}


/* Estilos de la sección Carta */

.linea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5em;
    width: 90%
}

.linea div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: auto;
}

#carta_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

#carta_secciones {
    display: flex;
    flex-direction: row;
}

#carta_secciones>div {
    margin-bottom: 3%;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

#carta_sec hr {
    width: 30%;
}

.carta_sec_title {
    padding: 15px;
}

.carta_margin_bot {
    margin-bottom: -1%;
}


/* Animación Carta */

#contenido_entrante,
#contenido_pasta,
#contenido_carne,
#contenido_pescado,
#contenido_postre {
    overflow: hidden;
    animation-name: menu;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes menu {
    from {
        transform: scale(.5);
        -webkit-transform: scale(.5);
        -o-transform: scale(.5);
        -moz-transform: scale(.5);
    }
    to {}
}


/*#carta_secciones>div:hover {
    background-color: #fdd05a;
}*/


/* Subrayado de los titulos de la carta */

.hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #fdd05a;
    height: 2px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-right:hover:before,
.hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
    left: 0;
}


/* Final Subrayado titulos de la carta */


/* Estilos sección Opiniones */
#opinion_sec .owl-controls .owl-dot {
    background-color: #fff;
    border: none medium;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    text-indent: 0;
    width: 25px;
    margin-right: 5px;
}

#opinion_sec .owl-controls .owl-dot.active {
    background-color: #03B0F0;
}

#opinion_sec .owl-controls {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#opinion_sec .owl-controls .owl-nav {
    display: none;
}


/* Estilos sección noticias */

.lts_pst>img {
    width: 100%;
}

.lts_pst h2 {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}

.lts_pst a {
    border-bottom: 1px solid #333333;
    color: #333333;
    font-family: lato;
    text-transform: capitalize;
}

.lts_pst a:hover {
    border-bottom: 1px solid #00AFF0;
}


/* Estilos formularios de contacto */

#formularios_contacto div {
    display: table;
    width: 67%;
}

#formularios_contacto h2 {
    display: table-cell;
    width: 50%;
}


/* Estilos sección contacto */

#contacto_sec {
    padding-top: 95px;
    padding-bottom: 95px;
}

#cnt_form .btn {
    background: #353638;
    padding: 10px 35px;
}

#cnt_form .form-control:focus {
    border: #0080FF solid 1px;
}

.cnt_info ul {
    margin: 0;
    padding: 0;
    border-left: 1px solid #C7C7C7;
    padding-left: 30px;
}

.cnt_info ul li {
    list-style: none outside none;
    padding: 15px 0;
}

.cnt_info ul li i {
    color: #818181;
    float: left;
    margin-top: 5px;
}

.cnt_info p {
    padding-left: 30px;
}

#form_tipo {
    width: 25%;
}


/* Estilos sección Mapa */

.map_area {
    margin-bottom: 93px;
}

.ft ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.ft ul li {
    list-style: none outside none;
    padding-right: 10px;
    display: inline;
}

.ft ul li a {
    border: #818181 solid 1px;
    border-radius: 50px;
    display: inline-block;
    margin: 0 auto;
    padding: 7px 11px;
    text-align: center;
}

.ft ul li a i {
    color: #363636;
    font-size: 15px;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s
}

.ft ul li a i:hover {
    color: #00AFF0;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s
}

.ft ul li .fa-facebook {
    padding: 3px;
}

#ltd_map_sec {
    background: none 0 0 repeat scroll #363636;
    text-align: center;
}

.map>h1 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

#ft_sec {
    padding: 70px 0;
}

.copy_right {
    margin: 0;
    padding: 0;
}

.copy_right li {
    font-size: 14px;
    font-weight: 600;
    list-style: none outside none;
    padding: 2px;
    text-align: center;
    color: #818181;
    text-transform: uppercase;
}

.copy_right {
    margin: 0;
    padding: 0;
    margin-top: 18px;
}

.map i {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-left: 15px;
}

.show_hide {
    color: #3399FF;
    margin-left: 15px;
}

.main_menu_sec {
    background: none 0 0 repeat scroll #353638;
    border: none 0;
    margin: 0;
}

.sidebar h2 {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #e2e2e2;
    list-style: none outside none;
    padding: 15px 0;
}

.sidebar ul li a {
    color: #666666;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s
}

.sidebar ul li a:hover {
    transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    color: #00AFF0
}

.tag>li {
    border: none medium !important;
    float: left;
}

.tag li a {
    border: #666666 solid 1px;
    padding: 10px;
    margin-right: 5px;
}

.form-control.single_cnt {
    width: 355px !important;
}
