{{ form_start(form_pedido) }}
    {{ form_widget(form_pedido) }}
    <div id="botones_editar">
        <button id="boton" class="btn">{{ button_label|default('Enviar') }}</button>
{{ form_end(form_pedido) }}