{% extends 'base.html.twig' %}

{% block title %}Actualizar pedido {{ pedido.id }}{% endblock %}

{% block body %}
    <div id="form_pedido">
        {{ include('pedido/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <button id="volver" class="btn" onclick="location.href='{{ path('pedido_index') }}'">Volver</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    document.getElementById('pedido_aviso').style.visibility="hidden";
</script>
{% endblock %}