{% extends 'base.html.twig' %}

{% block title %}Editar - Pedido{% endblock %}

{% block body %}
    <div id="form_pedido_edit">
        {{ include('pedido/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <button id="volver" class="btn" onclick="location.href='{{ path('pedido_index') }}'">Volver</button>
        </div>
    </div>
    <script>
    document.getElementById('pedido_aviso').style.visibility="hidden";
    </script>
{% endblock %}
