{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
    <h1>Editar Pedido</h1>
    
    <div id="form_proveedor">
        {{ include('pedido/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <a href="{{ path('pedido_index') }}" onclick="window.close()">Volver</a>
    </div>
{% endblock %}