{% extends 'base.html.twig' %}

{% block title %}Editar - Línea de Pedido{% endblock %}

{% block body %}
    <div id="form_linea">
        {{ include('linea_pedido/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <button id="volver" class="btn" onclick="location.href='{{ path('pedido_index') }}'">Volver</button>
        </div>
    </div>
{% endblock %}
