{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
    <h1>Editar Línea</h1>

    {{ include('linea_pedido/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('linea_pedido_index') }}">Volver</a>

    {{ include('linea_pedido/_delete_form.html.twig') }}
{% endblock %}
