{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
    <div id="form_articulo">
        {{ include('articulo/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <button id="volver" class="btn" onclick="window.close()">Volver</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/formularios.js') }}"></script>
{% endblock %}