{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
    <div id="form_articulo">
    {{ include('articulo/_form.html.twig') }}
    <button id="volver" class="btn" onclick="window.close()">Volver</button>
    </div>
</div>

<script>
    document.getElementById('articulo_descripcion').rows = "5";
    document.getElementById('articulo_descripcion').cols = "26";
    document.getElementById('articulo_precio').size = "27";
    document.getElementById('articulo_nombre').size = "27";
</script>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/formularios.js') }}"></script>
{% endblock %}