{% extends 'base.html.twig' %}

{% block title %}Gestiona JMJ{% endblock %}

{% block body %}
    <h1>Nuevo artículo</h1>

    {{ include('articulo/_form.html.twig') }}

    <a href="{{ path('articulo_index') }}">Volver</a>
{% endblock %}
